<h1>Bookmarks</h1>

<% @bookmarks.each_with_index do | bookmark, index |%>
  <section id=<%=index%>>
    <a href="<%=bookmark.url%>">   <%= bookmark.title %></a> 

    <form action="/bookmarks/<%=bookmark.id%>" method="post">
      <input value="delete" type="submit"><br>
    </form>
  </section>
<% end %>
