<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <h1>Bookmark Manager</h1>
  <a href="/">Home</a>
  <a href="/bookmarks">Bookmarks</a>
  <a href="/create-bookmark">Create A Bookmark</a><br><br>
  <%= yield %>
</html>